<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Películas</a></li>
        <li><a href="/movies/new">Nuevas</a></li>
        <li><a href="/movies/recommended">Recomendadas</a></li>
        <li><a href="/genres">Géneros</a></li>
        
    </ul>
    <ul>
        <li><a href="/admin/create">Crear Película</a></li>
    </ul>
</header>